:root {
  background-color:var(--contextBorderDarkestColor);
}

:root .red {
  --contextBorderColor: #E61031;
  --contextBorderHiliteColor: #E06440;
  --contextBorderDarkColor: #A02200;
  --contextBorderDarkerColor: #401100;
  --contextBorderDarkestColor: #200000;
  --contextLinkColor: #802210;
  --visibleBorder:dotted 1px black;
  --invisibleBorder:solid 1px transparent;
  --boundary: var(--invisibleBorder);
  --mainWidth:100%;
  --verticalGradient1: linear-gradient(to bottom, var(--contextBorderDarkColor) 0%, var(--contextBorderDarkerColor) 100%);
  --verticalGradient2: linear-gradient(to bottom, var(--contextBorderDarkerColor) 0%, var(--contextBorderDarkestColor) 100%);
  background-color:var(--contextBorderDarkestColor);
}

:root .blue {
  --contextBorderColor: #21A0F6;
  --contextBorderHiliteColor: #4064E0;
  --contextBorderDarkColor: #0022A0;
  --contextBorderDarkerColor: #0011A0;
  --contextBorderDarkestColor: #000020;
  --contextLinkColor: #102280;
  --visibleBorder:dotted 1px black;
  --invisibleBorder:solid 1px transparent;
  --boundary: var(--invisibleBorder);
  --mainWidth:100%;
  --verticalGradient1: linear-gradient(to bottom, var(--contextBorderColor) 0%, var(--contextBorderDarkerColor) 100%);
  --verticalGradient2: linear-gradient(to bottom, var(--contextBorderDarkerColor) 0%, var(--contextBorderDarkestColor) 100%);
}


body  {
	margin:0px;
	font-family:Arial;

}

.tabs {
	grid-area:tabs;
	/* height:40px; */
	margin:10px;
	border:var(--boundary);
}

.containerOld {
	display:grid;
	grid-template-areas: "header" "body";
	grid-template-columns: 100%;
	grid-template-rows:50px 1fr;
}

.container {
	display:flex;
	flex-direction:column;
}

.outer {
	position:absolute;
	left:0;
	top:0;
	background-color:var(--contextBorderDarkestColor);	
	width:100%;
	height:100%;
}

.list {
	width:var(--mainWidth);
	grid-area:list;
	align-items:start;
	padding:20px;
	font-family:Arial;
	margin:10px;
	border:solid 2px var(--contextBorderColor);
	border-radius:12px;
}
.images {
	padding:20px;
	display:block;
	width:var(--mainWidth);	
	padding:20px;
	font-family:Arial;
	margin:10px;
	border:solid 2px var(--contextBorderColor);
	border-radius:12px;

}
.images .imageFrame {
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;

}
.images .imageContainer {
	width:320px;
	display:block;
}
.imageCaption {
	display:block;
}
.imagesEntry {
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
	padding:5px;

}

.imageContainer .thumbImage {
	max-width:200px;
	max-height:200px;
	display:block;
}
.summary {
	margin-left:0.25in;
}
.card {
	width:100%;
	border:solid 2px var(--contextBorderColor);
	border-radius:12px;
	margin:10px;
	padding:30px;
	font-family:Arial;
	//grid-area:card;
	display:block;
}

.leftPane {
	display:flex;
	flex-direction:column;
	align-items:flex-start;
	justify-content:flex-start;
	width:20%;
/*	border:solid 1px red;*/
	background:var(--verticalGradient1);
	margin:0;
	padding:10px;
	color:white;
}

.centerPane {
	display:flex;
	flex-direction:column;
	min-height: 1fr;	
	background-color:white;
	padding-top:5px;
	padding-bottom:10px;
	justify-content:center;
	align-items:flex-start;
	width:60%;
	min-width:1024px;
}

.leftPane .link {
	color:yellow;

}

.rightPane {
	display:block;
	width:20%;
/*	border:solid 1px blue;*/
	background:var(--verticalGradient1);
	margin:0;
}


.properties {
/*	width:var(--mainWidth); */
	border:solid 2px var(--contextBorderColor);
	margin:10px;
	padding:30px;
	font-family:Arial;
	border-radius:12px;
	overflow-y: auto;
/*	max-height:400px;*/
}

.sideProperties {
	color:white;
	font-family:Arial;
	padding:10pt;
}
.sideProperties .property {
	font-weight:normal;
}


.sideProperties .link
 {
	color:yellow;
	font-weight:normal;
}

.sideProperties a:visited,.sideProperties a {color:yellow;}
.card h1 {font-size:18pt;}

.cardImage {
	max-width:95%;
	max-height:400px;
	margin:10px;
}
.namespace {
	font-size:12pt;
	font-style:italic;
	padding:10px;
}

.link {color: var(--contextLinkColor); font-weight:bold;cursor:pointer;}
.linkContainer {
	margin-bottom:10pt;
	min-height:80px;
	display:flex;
	flex-direction:row;
	
	}
.label {font-weight:bold;}
.property .value {
	display:flex;
	flex-direction: row;
}

.property .label {
	display:block;
}

.longWord {
	/*overflow-x:hidden;
	max-width:350px;*/
	overflow-wrap: break-word
}
.linkImage {
	max-width:100px;
	max-height:80px;
	//float:left;
	display:block;
}
.iconContainer {
	display:flex;
	flex-direction:row;
	margin-right:10px;

}
.iconSubcontainer {
	width:100px;
	height:80px;
	align-items: center;
	justify-content: flex-end;
	display:flex;
}
.linkMeta {
	display:block;
}

.property .label {cursor:pointer;}

.tabs {
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-items:start;
	/*height:60px;*/
	font-family:Arial;
	font-size:10pt;
	font-weight:bold;
	padding:5px;
	mqrgin-top:5px;
}

.header {
	position:fixed;
	grid-area:header;
	display:flex;
	flex-direction:row;
	height:35px;
	border-bottom:solid 2px var(--contextBorderColor);
	padding:10px;
	justify-content:space-between;
	background-color:white;
	width:99%;
	z-index:1;
	box-shadow:4px 4px 4px rgba(0,0,0,0.7);
}
.headerBlock {
    display:flex;
    flex-direction:row;

}
.headerLogo {
	height:30px;
}

.tab {border:outset 2px gray;
	  border-radius:5px;
	  border-bottom-left-radius:0;
	  border-bottom-right-radius:0;
	  background-color: var(--contextBorderColor);
	  padding:5pt;
	  cursor:pointer;
	  color: white;
	  }

.tab.active {border:inset 2px gray;
	  border-radius:5px;
	  border-bottom-left-radius:0;
	  border-bottom-right-radius:0;
	  border-bottom-color:transparent;
	  background-color:white;
	  color: var(--contextLinkColor);
	  }

.description {
	margin:10pt;
	padding:10pt;
	
}
.description.expanded {

}

.description.contracted {
	max-height:400px;
	max-width:700px;
	overflow-y:auto;
}

.listRefine {
	padding:10pt;
	display:flex;
	flex-direction: row;
	justify-content:flex-start;
	border-bottom:solid 3px var(--contextBorderColor);
	margin-bottom:10pt;
}
.property {
	margin-bottom:4pt;
}
.buttons {
	display:flex;
	flex-direction:row;
	margin-bottom:10pt;
	padding-bottom:10pt;
	border-bottom:solid 1px var(--contextBorderColor);

}
.button {
	background-color: var(--contextBorderDarkColor);
	color:white;
	box-shadow:3px 3px 3px rgba(0,0,0,0.75);
	font-size:10pt;
	padding:5pt;
	cursor:pointer;
	transform:translate(0,0);
	display:inline-block;
	margin:2px;
	font-family:Arial;

}
.button:hover {
	background-color:var(--contextBorderHiliteColor);
}
.button:active, .button.selected {
	background-color:var(--contextBorderColor);
	transform:translate(2px,2px);
	
	box-shadow:none;

}
.graph {
	width:1024px;
	height:1024px;
/*	max-height:600px;*/
	min-height:1fr;
	resize: both;
    overflow:hidden;
    display:block;
}
.modeButtons {
	display:flex;
	flex-direction:row;
}
.modeFrame {
	display:block;
	width:1fr;
}
.pager {
	padding-bottom:5px ;
	margin-bottom:10px;
	border-bottom:solid 2px var(--contextLinkColor) ;
}
.wait {
	cursor:wait;
}
.wait .link {
	cursor:wait;
}
.property .valueBlock {
	/* max-height:110px;
	overflow-y:auto;*/
}
.dealer {
	background-color:var(--contextBorderColor);
	color:white;
	padding:5px;
	margin-bottom:5px;
}

.sheetName {
	font-size:12pt;
	font-weight:bold;
}
.sheet {
	margin:10pt;
}
.sheet details {
	padding-left:10pt;
}
.sheet details summary {
	margin-left:-10pt;
	font-weight:bold;
	font-style:italic;
}
.ingest.property .label {
	display:inline-block;
	font-weight:bold;
}
.ingest.property .value {
	display:inline-block;
	font-weight:normal;
}
.subhead {
	font-size:14pt;
	font-weight:bold;
}
table tr th {
	background-color:var(--contextBorderColor);
	color:white;
}
table td.inlineLabel {
	color:var(--contextBorderColor);
	font-weight:bold;
}
.imageThumbnail {
	max-width:140px;
	display:block;	
}
.searchItems {
	display:flex;
	flex-direction:row;
}
.searchItem {
	display:block;
	border-bottom:solid 2px var(--contextBorderColor);
	margin-bottom:10pt;
}
.valueBlock {
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
}
.value {display:block;}

.imageFrame {
	width:100%;
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
}
.imageContainer {
	display:block;
}
*[contenteditable="true"]{
	border:inset 2px gray;
	padding:5px;
}
.imageMedium {
	width:420px;
}
.longInput {
	width:90%;
}

.modal { 
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index:1;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  background: transparent;
  font-family:Arial;
  transform:scale(0,0);
  transition: background 250ms ease-in-out;
  padding:10pt;
}
.modal .modalBody  {
  max-height:600px;
  overflow-y:auto;
}
.visible {
    transform:scale(1,1);
    background:rgba(0,0,0,0.7);
  }
 .modal-content {
 	display:block;
 	background-color:white;
 	border:groove 3px var(--contextBorderDarkerColor);
 	width:780px;
 } 
 .modal-header {
 	background-color: var(--contextBorderDarkerColor);
 	padding:5px;
 	font-weight:bold;
 	color:white;
 }
 .dlg-label {
 	padding-left:5pt;
 	font-weight:bold;
 	border:inset 2px lightGray;
 }
 .dlg-value {
 	border:inset 2px lightGray;
 }

 .bodyEditor {
/* 	max-height:400px;*/
 	max-width:720px;
 	/*overflow-y:auto;*/

 }

 .bodyEditor img {
	max-width:100%;
 }


.bodyDisplay img {
	max-width:100%;
}

.newModalBE {
	height:200px;
	overflow-y:scroll;
}

.duplicateModalBE {
	height:200px;
	overflow-y:scroll;
}

 .cardTitleEdit input {
 	font-size:14pt;
 	font-weight:bold;
 	width:100%;
 }
 .classSelector {
 	font-size:12pt;
 	height:26pt;
 }
 .bannerText {
 	font-size:14pt;
 	font-weight:bold;
 	font-family:Arial,Helvetica;
 	height:26pt;
 	padding-left:10pt;
 	padding-right:10pt;
 }

.propertyContextLabel {
	font-size:16pt;
	font-weight:bold;
	border-bottom:solid 1pt black;
	margin-bottom:10pt;
}
.editorButtons {
	border:inset 3px gray;
	background-color:lightGray;
	padding:2px;
	width:720px;
}

.paneContainer {
	grid-area: body;
	display:flex;
	flex-direction:row;
	justify-content: space-between;
	width:100%;
	background-color:white;
	margin-top:57px;
}

.display {
	display:block;
	width:90%;
}
.emailLink {text-decoration:none;}
.hours {font-size:10pt;}
.hours .item {margin-bottom:2pt;}
.hours .label {font-style:italic;}
.datatypeLink {font-style:italic;}
.colorSwatchContainer {
	display:flex;
	flex-direction:row;
	justify-content: felx-start;
}
.colorSwatch {
	display:block;
	width:48px;
	height:36px;
}
.largeColorSwatch {
	display:block;
	width:240px;
	height:180px;
}
.colorValue {
	display:block;
	font-size:12pt;
	padding-left:10pt;
}
.colorIcon {
	width:100px;
	height:80px;
	display:block;
	border:solid 1px black;
	margin-right:10px;
}
.constraintsBlock {
	margin-bottom:10pt;
	padding-bottom:10pt;
	display:block;
	border-bottom:solid 2px var(--contextBorderColor);
}

.constraints {
	display:flex;
	flex-direction:column;
	justify-content:flex-start;
}
.constraint {
	display:flex;
	flex-direction:row;
	justify-content:flex-start;
}
.sideProperties .internalImage {
	max-width:160px;
}
.properties .internalImage {
	max-width:500px;
}

.compliance .description {
	font-size:10pt
}
.footer {
	background:var(--verticalGradient2);
	width:100%;
	min-height:100px;
	height:100%;
	display:flex;
	flex-direction:row;
	justify-content:center;
	align-items:center;
}
.footer .copyright {
	display:block;
	font-family:Arial;
	color:white;
}

.linkDate {font-style:italic;color:var(--contextBorderDarkerColor);}

.insertedImage {
	max-width:500px;
}
.centerPaneAddons {
	width:1fr;
	margin:10px;
	font-family:Arial;
	//grid-area:card;
	display:block;	
}
.centerPaneAddons .block {
	border:solid 2px var(--contextBorderColor);
	border-radius:12px;
	padding:15px;
	margin:10px;

}
.imageHeader {
	display:flex;
	flex-direction:row;

}
