:root {
	font-family:Arial;
}

:root .red {
  --contextBorderColor: #E61031;
  --contextBorderHiliteColor: #E06440;
  --contextBorderDarkColor: #A02200;
  --contextBorderDarkerColor: #401100;
  --contextBorderDarkestColor: #200000;
  --contextLinkColor: #802210;
  --visibleBorder:dotted 1px black;
  --invisibleBorder:solid 1px transparent;
  --boundary: var(--invisibleBorder);
  --mainWidth:100%;
  --verticalGradient1: linear-gradient(to bottom, var(--contextBorderDarkColor) 0%, var(--contextBorderDarkestColor) 100%);
  --verticalGradient2: linear-gradient(to bottom, var(--contextBorderDarkerColor) 0%, var(--contextBorderDarkestColor) 100%);
  // background-color:var(--contextBorderDarkestColor);
}

:root .blue {
  --contextBorderColor: #21A0F6;
  --contextBorderHiliteColor: #4064E0;
  --contextBorderDarkColor: #0022A0;
  --contextBorderDarkerColor: #0011A0;
  --contextBorderDarkestColor: #000020;
  --contextLinkColor: #102280;
  --visibleBorder:dotted 1px black;
  --invisibleBorder:solid 1px transparent;
  --boundary: var(--invisibleBorder);
  --mainWidth:100%;
  --verticalGradient1: linear-gradient(to bottom, var(--contextBorderColor) 0%, var(--contextBorderDarkerColor) 100%);
  --verticalGradient2: linear-gradient(to bottom, var(--contextBorderDarkerColor) 0%, var(--contextBorderDarkestColor) 100%);
}


@import url('https://fonts.googleapis.com/css?family=Zilla+Slab+Highlight&display=swap');

body  {
	margin:0px;
	font-family:Arial;
	background-color:black;
}
/*.outer.blue {
	background:black;
//	background:linear-gradient(to bottom, blue 0%, black 100%);
}*/
.tabs {
	grid-area:tabs;
	/* height:40px; */
	margin:10px;
	border:var(--boundary);
}

.container {
	display:flex;
	flex-direction:column;
}

.outer {
	position:absolute;
	left:0;
	top:0;
	/*background:var(--verticalGradient1);*/
	background:transparent;
	width:100%;
	height:100%;
}

.list {
	width:var(--mainWidth);
	grid-area:list;
	align-items:start;
	padding:20px;
	font-family:Arial;
	margin:10px;
	margin-left:20px;
	border:solid 2px var(--contextBorderColor);
	border-radius:12px;
}
.images {
	padding:20px;
	display:block;
	width:var(--mainWidth);	
	padding:20px;
	font-family:Arial;
	margin:10px;
	border:solid 2px var(--contextBorderColor);
	border-radius:12px;

}
.images .imageFrame {
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;

}
.images .imageContainer {
	width:320px;
	display:block;
}
.imageCaption {
	display:block;
}
.imagesEntry {
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
	padding:5px;

}

.imageContainer .thumbImage {
	max-width:200px;
	max-height:200px;
	display:block;
}
.summaryContainer {
	margin:10pt;
	font-style:italic;
}
.card {
	width:100%;
	border:solid 2px var(--contextBorderColor);
	border-radius:12px;
	margin:10px;
	padding:30px;
	font-family:Arial;
	//grid-area:card;
	display:block;
}

.leftPane {
	display:flex;
	flex-direction:column;
	align-items:flex-start;
	justify-content:flex-start;
	width:20%;
/*	border:solid 1px red;*/
	background:transparent;
	margin:0;
	padding:10px;
	color:white;
}


.centerPane {
	display:flex;
	flex-direction:column;
	min-height: 1fr;	
	background-color:white;
	padding-top:5px;
	padding-bottom:10px;
	justify-content:flex-start;
	align-items:flex-start;
	width:60%;
	min-width:1024px;
	padding-left:40px;
}


.leftPane .link {
	color:yellow;

}

.rightPane {
	display:block;
	width:20%;
/*	border:solid 1px blue;*/
/*	background:var(--verticalGradient1);*/
	background:transparent;
	margin:0;
}

@media only screen  and (max-width: 600px) {
.leftPane {display:none;}
.rightPane {display:none;}
.centerPane {
	min-width:0;
	width:90%;
}
.mobile {display:none;}
}


.properties {
/*	width:var(--mainWidth); */
	border:solid 2px var(--contextBorderColor);
	margin:10px;
	padding:30px;
	border-radius:12px;
	overflow-y: auto;
/*	max-height:400px;*/
}

.sideProperties {
	color:white;
	padding:10pt;
}
.sideProperties .property {
	font-weight:normal;
}


.sideProperties .link
 {
	color:yellow;
	font-weight:normal;
}

.sideProperties a:visited,.sideProperties a {color:yellow;}
.card h1 {font-size:18pt;}

.cardImage {
	max-width:95%;
	max-height:400px;
	max-width:480px;
	margin:10px;
}
.namespace {
	font-size:12pt;
	font-style:italic;
	padding:10px;
}


.linkContainer {
	margin-bottom:10pt;
	min-height:80px;
	display:flex;
	flex-direction:row;
	justify-content:flex-start;
	border-bottom:solid 1pt var(--contextLinkColor);
	padding-bottom:5pt;
	}

.link, .bodyDisplay a {
	color: var(--contextLinkColor); 
	font-weight:bold;
	cursor:pointer;
	text-decoration:none;
}

@media only screen  and (max-width: 600px) {
	.linkContainer {
	margin-bottom:10pt;
	min-height:80px;
	display:flex;
	flex-direction:column;
	
	} }


.label {font-weight:bold;}
.property .value {
	display:flex;
	flex-direction: row;
}

.property .label {
	display:block;
}

.longWord {
	/*overflow-x:hidden;
	max-width:350px;*/
	overflow-wrap: break-word
}
.linkImage {
	max-width:100px;
	max-height:80px;
	//float:left;
	display:block;
}
.iconContainer {
	display:flex;
	flex-direction:row;
	margin-right:10px;

}
.iconSubcontainer {
	width:100px;
	height:80px;
	align-items: center;
	justify-content: flex-end;
	display:flex;
}
.linkMeta {
	display:block;
}

.property .label {cursor:pointer;}

.tabs {
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-items:start;
	/*height:60px;*/
	font-family:Arial;
	font-size:10pt;
	font-weight:bold;
	padding:5px;
	mqrgin-top:5px;
}

.header {
	position:fixed;
	grid-area:header;
	display:flex;
	flex-direction:row;
	height:35px;
	border-bottom:solid 2px var(--contextBorderColor);
	padding:10px;
	justify-content:space-between;
	background-color:white;
	width:99%;
	z-index:1;
//	box-shadow:4px 4px 4px rgba(0,0,0,0.7);
}
.headerBlock {
    display:flex;
    flex-direction:row;

}
.headerLogo {
	height:30px;
}

.tab {border:outset 2px gray;
	  border-radius:5px;
	  border-bottom-left-radius:0;
	  border-bottom-right-radius:0;
	  background-color: var(--contextBorderColor);
	  padding:5pt;
	  cursor:pointer;
	  color: white;
	  }

.tab.active {border:inset 2px gray;
	  border-radius:5px;
	  border-bottom-left-radius:0;
	  border-bottom-right-radius:0;
	  border-bottom-color:transparent;
	  background-color:white;
	  color: var(--contextLinkColor);
	  }

.description {
	margin:10pt;
	padding:10pt;
	
}
.description.expanded {

}

.description.contracted {
	max-height:400px;
	max-width:700px;
	overflow-y:auto;
}

.listRefine {
	padding:10pt;
	display:flex;
	flex-direction: row;
	justify-content:flex-start;
	flex-wrap: wrap;
	border-bottom:solid 3px var(--contextBorderColor);
	margin-bottom:10pt;
}
.property {
	margin-bottom:4pt;
}
.buttons {
	display:flex;
	flex-direction:row;
	margin-bottom:10pt;
	padding-bottom:10pt;
	border-bottom:solid 1px var(--contextBorderColor);

}
.button {
	/* background-color: var(--contextBorderDarkColor); */
	background:radial-gradient(ellipse at center, #4d79a8 0%,#203c8a 49%,#0022A0 100%);
	color:rgba(255,255,255,0.75);
	box-shadow:3px 3px 3px rgba(0,0,0,0.75);
	font-size:10pt;
	padding:5pt;
	cursor:pointer;
	transform:translate(0,0);
	display:inline-block;
	margin:2px;
	font-family:Arial;
	border-radius:8px;

}
.button:hover {
	background-color:var(--contextBorderHiliteColor);
	color:white;
}
.button:active, .button.selected {
	background:radial-gradient(ellipse at center, #7db9e8 0%,#207cca 49%,#1e4299 100%);
	transform:translate(2px,2px);
	box-shadow:none;
	color:white;
	text-shadow:-1px -1px 1px rgba(0,0,0,0.75);
}

/*.graph {
	width:100%;
	height:100%;
	max-width:1024px;
	max-height:1024px;
	min-height:700px;
	min-height:1fr;
	resize: both;
    overflow:hidden;
    display:block;
} */

.iframeContainer {
    position: relative;
    overflow: hidden;
    padding:0;
    padding-top: 80%;
}

.iframeContainer .graph {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
    margin:0;
    padding:0;
    overflow:hidden;
}

.modeButtons {
	display:flex;
	flex-direction:row;
}
.modeFrame {
	display:block;
	width:1fr;
	height:40px;
	padding-top:5px;
	position:fixed;
	left:0;
	top:50px;
	width:100%;
	border-top:groove 1px lightGray ;
	background-color:white;
	z-index:1;
	box-shadow:4px 4px 4px rgba(0,0,0,0.7);
}
.pager {
	padding-bottom:5px ;
	margin-bottom:10px;
	border-bottom:solid 2px var(--contextLinkColor) ;
}
.wait {
	cursor:wait;
}
.wait .link {
	cursor:wait;
}
.property .valueBlock {
	/* max-height:110px;
	overflow-y:auto;*/
}
.dealer {
	background-color:var(--contextBorderColor);
	color:white;
	padding:5px;
	margin-bottom:5px;
}

.sheetName {
	font-size:12pt;
	font-weight:bold;
}
.sheet {
	margin:10pt;
}
.sheet details {
	padding-left:10pt;
}
.sheet details summary {
	margin-left:-10pt;
	font-weight:bold;
	font-style:italic;
}
.ingest.property .label {
	display:inline-block;
	font-weight:bold;
}
.ingest.property .value {
	display:inline-block;
	font-weight:normal;
}
.subhead {
	font-size:14pt;
	font-weight:bold;
}
table tr th {
	background-color:var(--contextBorderColor);
	color:white;
}
table td.inlineLabel {
	color:var(--contextBorderColor);
	font-weight:bold;
}
.imageThumbnail {
	max-width:140px;
	display:block;	
}
.searchItems {
	display:flex;
	flex-direction:row;
}
.searchItem {
	display:block;
	border-bottom:solid 2px var(--contextBorderColor);
	margin-bottom:10pt;
}
.valueBlock {
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
}
.value {display:block;}

.imageFrame {
	width:100%;
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
}
.imageContainer {
	display:block;
}
*[contenteditable="true"]{
	border:inset 2px gray;
	padding:5px;
}
.imageMedium {
	width:420px;
}
.longInput {
	width:90%;
}

.modal { 
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index:1;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  background: transparent;
  font-family:Arial;
  transform:scale(0,0);
  transition: background 250ms ease-in-out;
  padding:10pt;
}
.visible {
    transform:scale(1,1);
    background:rgba(0,0,0,0.7);
  }
 .modal-content {
 	display:block;
 	background-color:white;
 	border:groove 3px var(--contextBorderDarkerColor);
 	width:780px;
 } 
 .modal-header {
 	background-color: var(--contextBorderDarkerColor);
 	padding:5px;
 	font-weight:bold;
 	color:white;
 	position:fixed;
 	display:block;
 	width:770px;
 }
.modal-body  {
	padding:0.125in;
	margin-top:0.375in;
	max-height:600px;
	overflow-y:auto;
}

.modal-footer {
  display:flex;
  flex-direction:row;
  justify-content: flex-end;
  border-top:solid 1px black;
  padding:5pt;

}

 .dlg-property {
 	padding:5pt;
 }

 .dlg-label {
 	padding-left:5pt;
 	font-weight:bold;
 }
 .dlg-value {
 	/* border:inset 2px lightGray;*/
 }
 .dlgBody {

 }

 .bodyEditor {
/* 	max-height:400px;*/
 	width:720px;
 	/*overflow-y:auto;*/

 }

 .bodyEditor img {
	max-width:100%;
 }


.bodyDisplay img {
	max-width:100%;
	padding:18pt;
}

.newModalBE {
	height:200px;
	overflow-y:scroll;
}

.duplicateModalBE {
	height:200px;
	overflow-y:scroll;
}

 .cardTitleEdit input {
 	font-size:14pt;
 	font-weight:bold;
 	width:100%;
 }
 .classSelector {
 	height:26pt;
 	/* border:none; */
 	font-weight:bold;
 }
 .classSelector .predicate {
 	font-size:9pt;
 	color:gray;
 	display:block;
 }

 .classSelector .predicateTarget {
 	font-size:12pt;
 	display:block;
 }

 .bannerText {
 	font-size:14pt;
 	font-weight:bold;
 	font-family:Arial,Helvetica;
 	height:26pt;
 	padding-left:10pt;
 	padding-right:10pt;
 }

 .bannerText:hover {
 	color:blue;
 	cursor:pointer;
 }

.propertyContextLabel {
	font-size:16pt;
	font-weight:bold;
	border-bottom:solid 1pt black;
	margin-bottom:10pt;
}
.editorButtonsPane {
	border:inset 3px gray;
	background-color:lightGray;
	padding:2px;
/*	max-width:720px;*/
	display:flex;
	flex-direction: column;
	position:fixed;
	z-index:1;
	margin-left:760px;
	margin-top:0px;
	width:240px;
	justify-content:flex-start;
}

.editorButtons {
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;

}
.editorBlock {
	display:flex;
	flex-direction:row;
}

.paneContainer {
	display:flex;
	flex-direction:row;
	margin-top:57px;
}

.horizontalPanes {
	grid-area: body;
	display:flex;
	flex-direction:row;
	justify-content: space-between;
	width:100%;
	background:transparent;
}

.display {
	display:block;
	width:90%;
}
.topBanner {
	display:block;
	max-width:800px;
}
.topBannerImage {
	width:100%;
	background:black;
	width:800px;
}
.monotype {
	font-family: 'Zilla Slab Highlight', cursive;
	font-size:14pt;
	display:block;
	background-color:black;
	color:#40FF40;
	border:inset 3px lightGray;
	width:100%;
	padding:8px;
}

.emailLink {text-decoration:none;}
.hours {font-size:10pt;}
.hours .item {margin-bottom:2pt;}
.hours .label {font-style:italic;}
.datatypeLink {font-style:italic;}
.colorSwatchContainer {
	display:flex;
	flex-direction:row;
	justify-content: felx-start;
}
.colorSwatch {
	display:block;
	width:48px;
	height:36px;
}
.largeColorSwatch {
	display:block;
	width:240px;
	height:180px;
}
.colorValue {
	display:block;
	font-size:12pt;
	padding-left:10pt;
}
.colorIcon {
	width:100px;
	height:80px;
	display:block;
	border:solid 1px black;
	margin-right:10px;
}
.constraintsBlock {
	margin-bottom:10pt;
	padding-bottom:10pt;
	display:block;
	border-bottom:solid 2px var(--contextBorderColor);
}

.constraints {
	display:flex;
	flex-direction:column;
	justify-content:flex-start;
}
.constraint {
	display:flex;
	flex-direction:row;
	justify-content:flex-start;
}
.sideProperties .internalImage {
	max-width:160px;
}
.properties .internalImage {
	max-width:500px;
}

.internalImage {
	width:160px;
	height:auto;
}

.compliance .description {
	font-size:10pt
}
.footer {
/* 	background:var(--verticalGradient2);*/
    background:transparent;
	width:100%;
	min-height:100px;
	height:100%;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	color:white;

}
.footer .copyright {
	display:block;
	font-family:Arial;
	color:white;
}
.footer a {
	color:yellow;
	text-decoration:none;
}

.linkDate {font-style:italic;color:var(--contextBorderDarkerColor);}

.insertedImage {
	max-width:500px;
}
.centerPaneAddons {
	width:1fr;
	margin:10px;
	font-family:Arial;
	//grid-area:card;
	display:block;	
}
.centerPaneAddons .block {
	border:solid 2px var(--contextBorderColor);
	border-radius:12px;
	padding:15px;
	margin:10px;

}
.imageHeader {
	display:flex;
	flex-direction:row;
	justify-content: space-between;

}
.backLinks {
	display:block;
	width:1fr;
	max-width:500px;
	min-width:250px;
	padding:20pt;
	border:solid 1px var(--contextBorderColor);
	box-shadow: 5px 5px 4px rgba(0,0,0,0.7);
	margin:10pt;
	background-color:white;
}
.backLinks .title {
	margin:-12pt;
	font-weight:bold;
	font-size:14pt;
	display:block;
	border-bottom:solid 1pt black;
	margin-bottom:5pt;
	padding-bottom:5pt;
}

.itemCount {
	border-bottom: solid 2px  var(--contextBorderColor);
	padding:5pt;
	margin-bottom:10pt;
}
.predicateTabs select {
	font-size:16pt;
	font-weight:bold;
	font-style:italic;
	padding-bottom:5pt;
	margin-bottom:5pt;
	border-bottom: solid 1px var(--contextBorderColor);

}

.settingsIcon {
	width:16px;
	height:16px;

}
.mainMenu {
	display:none;
	position:absolute;
	z-index:1;
	background:white;
	border:solid 1px black;
	box-shadow:3px 3px 3px rgba(0,0,0,0.75);
	padding:5pt;
	padding-right:10pt;
	margin-left:20pt;
}

.mainMenu.visible {display:block;}
.mainMenu .menuItem div {
	border:solid 1px transparent;
}
.mainMenu .menuItem div:hover {
	border:solid 1px  var(--contextBorderColor);
}
.curie {font-style:italic;}
.editorButton {
	display:flex;
	flex-direction:row;
	align-items: center;
	justify-content: center;
	width:32px;
	height:32px;

}
.editorButtonLong {
	display:flex;
	flex-direction:row;
	align-items: center;
	justify-content: center;
	width:64px;
	height:32px;

}
.editorButtonImage {
	width:12pt;
	height:12pt;
}
.bodyEditorImage {}
.bodyEditorImage.None {}
.bodyEditorImage.Left {float:left;vertical-align:top;padding-right:5pt;padding-bottom:5pt;}
.bodyEditorImage.Right {float:right;vertical-align:top;padding-left:5pt;padding-bottom:5pt;}

.activeLight {color:#80FF80;text-shadow:2px 2px 2px rgba(0,0,0,0.75);}
.inactiveLight {color:red;text-shadow:2px 2px 2px rgba(0,0,0,0.75);}

.modal-body {
	padding:0.25in;
}

.textLiteralBlock {
	width:800px;
	min-height:250px;
}

.sortMode {
	font-size:16pt;
	height: 22pt;
}

.refine {
	font-size:16pt;
	height: 22pt;
	line-height:22pt;
}
.graphBody {margin:0.125in;}

.userFullName {
	vertical-align:middle;
	font-size:9pt;
	padding-top:8pt;
	padding-right:5pt;
}

.altLinksContent {
	display:block;
	width:960px;
}

.dlgHeader {
	display:flex;
	flex-direction:row;
	justify-content: space-between;
}

.dlg-value select {
	border:solid 1px lightBlue;
	border-radius:8pt;
	font-size:10pt;
	margin-top:10pt;
	padding:3pt;
	margin-left:5pt;
}

.dlg-value input {
	border:solid 1px lightBlue;
	border-radius:8pt;
	font-size:10pt;
	margin-top:10pt;
	padding:3pt;
	margin-left:5pt;
}
.backLink .dlg-label {
	margin-left:-10pt;
}

.historyContainer {
	display:flex;
	flex-direction:row;
	align-items: center;
	justify-content: flex-start;
	font-size:10pt;
}

.splashContainer {
  display:flex;
  fled-direction:column;
  background-color:black;
  align-items:center;
  justify-content:center;
  width:100%;
  min-height:100vh;
  position:absolute;
  left:0;
  top:0;
  opacity:100%;
  z-index:100;
}
.splashItem img {}
.splashContainer.startFade {
  transition:opacity 4s,z-index 4s;
}
.splashContainer.hide {
 z-index:-1;
  opacity:0
}

.semlink {
	cursor:pointer;
	color:green;
	text-decoration-style: dashed;
	font-weight:bold;
}